.page-container {
  margin-top: 10px;
}

.center {
  width: 100%;
  margin: auto;
  text-align: center;
}

body {
  margin: 0px;
}

/* Navigation Bar */
#NavBar {
  position: relative;
  top: 0;
  width: 100%;
  background: #427ef5;
  margin: 0;
  padding: 20px;
}

#NavBar li {
  list-style-type: none;
  display: inline-block;
  padding-right: 10%;
  width: auto;
  margin-right: 0.5%;
  padding-left: 0;
  margin-left: 0;
}

#NavBar li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.nav-button {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.nav-button-active, .nav-button:hover {
  color:lightsteelblue
}


/* Image Carousel */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  outline: none;
  background-color: transparent;
  border: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.carousel-dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .carousel-dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#ImageCarousel {
  margin-top: 20px;
  position: relative;
  margin: auto;
  max-width: 800px;
}

#DotContainer {
  margin-top: 10px;
}


/* Youtube tiles */
.youtube-tile {
  margin: 20px;
}
