#EventsContainer li {
  list-style-type: none;
  margin-top: 30px;
}

#EventsContainer image {
  width: 500px;
}

.left-div {
  width: 40%;
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
}

.right-div {
  display: inline-block;
  width: 30%;
}

.right-div img {
  width: 100%;
  margin-top: 0px;
  margin-left: 20px;
}

input {
  display: inline;
}

#EventsContainer {
  padding-inline-start: 0%;
  width: 80%;
  display: inline-block;
}
